<div class="main-container">
  <div class="top-container">
    <div class="left-container">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" alt="" class="poke-img">
    </div>
    <div class="right-container">
      <p class="poke-Name">Bulbasaur</p>
      <p class="poke-types">grass/poison</p>
      <p class="poke-evos">Bulbasaur/Ivyasaur/Venasaur</p>
    </div>
  </div>
  <div class="bottom-container">
    <div class="gen-container">
      <h1 class="gen-head">gen1</h1>
      <div class="gen-item-container">
        <app-startegy></app-startegy>
        <app-startegy></app-startegy>
        <app-startegy></app-startegy>
        <app-startegy></app-startegy>
      </div>
    <div class="gen-container">
      <h1 class="gen-head">gen2</h1>
      <div class="gen-item-container">
        <app-startegy></app-startegy>
        <app-startegy></app-startegy>
        <app-startegy></app-startegy>
        <app-startegy></app-startegy>
      </div>
    <div class="gen-container">
      <h1 class="gen-head">gen3</h1>
      <div class="gen-item-container">
        <app-startegy></app-startegy>
        <app-startegy></app-startegy>
        <app-startegy></app-startegy>
        <app-startegy></app-startegy>
      </div>
    </div>

  </div>

</div>
