<div class="strategy-container">
  <h1 class="strategy-name">BlackOut</h1>
  <p class="strategy-item">
    <b>Held Item : </b>
    pokeball
  </p>
  <p class="strategy-item">
    <b>Ability : </b>
    Synchronize
  </p>
  <p class="strategy-item">
    <b>Nature : </b>
    Timid
  </p>
  <div class="sub-container">
    <div class="strategy-ev">
      <h2 class="ev-head">EVs</h2>
      <p class="ev-item">
        <b>SPD : </b>252
      </p>
      <p class="ev-item">
        <b>ATK : </b>5
      </p>
      <p class="ev-item">
        <b>SPATK : </b>252
      </p>
    </div>
    <div class="moves-container">
      <h2 class="moves-head">Moveset</h2>
      <p class="move-item">1. Quick Attack</p>
      <p class="move-item">2. Dragon Claw</p>
      <p class="move-item">3. Shadow Ball</p>
      <p class="move-item">4. Rest</p>
    </div>
  </div>
</div>
